body {
	background-color: rgb(255, 255, 255);
	font-family: 'Macondo Swash Caps', cursive;
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
}

.logo {
	display: flex;
	justify-content: center;
	align-content: center;
}

h1 {
	color: rgb(12, 56, 100);
	font-size: 3em;
	text-align: center;
	margin: 0.7em 0 0.4em 0;
}

a {
	color: rgb(108, 204, 244);
	text-decoration: none;
}

.h2 {
	color: rgb(108, 204, 244);
	background-color: rgb(12, 56, 100);
	font-size: 30px;
	justify-content: center;
}

nav {
	background-color: rgb(12, 56, 100);
	width: 100%;
	display: flex;
	flex: 1 0 33.33%;
	justify-content: space-evenly;
	text-align: center;
	font-size: 1.2em;
	color: rgb(108, 204, 244);
	text-decoration: dashed;
	transform: scale(1);
	transition: all 0.3s ease;
}

nav a:hover {
	font-weight: 400;
	background-color: rgba(28, 27, 25, 0.37);
	color: #fff;
	padding: 0 10px;
	border-radius: 5px;
	transform: scale(1.1);
}

.linea{
	width: 100%;
	height: 3px;
	background-color: black;

}
section {
	font-family: 'Macondo Swash Caps', cursive;
	background-color: rgb(12, 56, 100);
	justify-content: center;
	list-style: none;
}

.desplegable {
	list-style: none;
	display: none;
	position: relative;
	min-width: 140px;
}

nav li:hover > ul {
	display: block;
	background-color: rgb(12, 56, 100);
}

h3 {
	color: rgb(12, 56, 100);
	font-size: 50px;
	font-family: 'Macondo Swash Caps', cursive;
}

.ban {
    width: 70%;
    height: 500px;
    margin: auto;
    background-size: 100% 100%;
    animation: banner 4s infinite;
    animation-direction: alternate;
	max-width: 1200px;
	min-width: 500px;
}

@keyframes banner {
    0%, 30% {
        background-image: url(../imagenes/banner/banner1.png);
        opacity: 1;
    }
    31%, 34%{
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(../imagenes/banner/banner2.png);
        opacity: 1;
    }
    66%, 69%{
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(../imagenes/banner/banner3.png);
        opacity: 1;
    }
}

.container {
	display: inline-block;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 30px;
	justify-content: center;
	align-content: center;
	padding: 10px;
}

.image {
	height: 100px;
}

.border {
	border: 3px solid rgb(12, 56, 100);
	border-radius: 20px;
}
.border:hover{
	border-color: rgb(108, 204, 244);
}

.Container-Quienes{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-rows: 45% 55%; 
    grid-template-areas: 
    "foto1 	info-1 info-1"
    "info-2 info-2 foto-2" 
}
.foto-1 { 
    grid-area: foto1; 
}
.info-1 { 
    grid-area: info-1; 
}
.info-2 { 
    grid-area: info-2; 
}
.foto-2 { 
    grid-area: foto-2;
    align-content: flex-end; 
}

.grid-info{
    font-size: 20px;
    color: beige;
    text-align:left;
}

.info-1, .info-2{
    color: beige;
    text-align: justify;
    line-height: 2.5;
	margin: 2px;
}

.foto-1, .foto-2{
    max-width: 100%;
	border-image: auto;
	border-color: aliceblue;
}
.container-md {
	/* background-color: rgb(177, 104, 104); */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 1em;
	width: 100%;
	padding: 20px;
}

form {
	width: 50%;
}

input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid white;
}

#Enviar {
	background-color: white;
	border: 1px solid rgb(87, 100, 12);
	color: black;
	padding: 15px 32px;
	margin: 30px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	transform: scale(1);
	transition: all 0.3s ease;
}

#Enviar:hover {
	transform: scale(1.1);
	color: white;
	background-color: #ec9513;
}

.consulta {
	height: 300px;

}

.advertencia {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-md {
	background-color: rgb(177, 104, 104);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 1em;
	width: 100%;
	padding: 20px;

}

form {
	width: 50%;
}

input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid white;
}

#Enviar {
	background-color: white;
	border: 1px solid rgb(87, 100, 12);
	color: black;
	padding: 15px 32px;
	margin: 30px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	transform: scale(1);
	transition: all 0.3s ease;
}

#Enviar:hover {
	transform: scale(1.1);
	color: white;
	background-color: #ec9513;
}

.consulta {
	height: 300px;
}

.advertencia {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copyright {
	font-size: 1em;
}

footer {
	width: 100%;
	background-color: rgb(12, 56, 100);
	color: #fff;
	text-align: center;
	margin-top: 20px;
	height: 130px;
}

.redes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon {
	display: inline-block;
	font-size: 2em;
	color: #fff;
	margin: 20px;
	transform: scale(1);
	transition: all 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.2);
	color: rgb(108, 204, 244);;
}

@media (max-width: 800px) {
    .Container-Quienes{
        grid-template-areas:     
        "foto1"
        "info-1"
        "foto-2"
        "info-2"
    }
}
  
@media (min-width: 800px) and (max-width: 1280px) {
	.Container-Quienes{
        grid-template-areas:     
        "foto1 	info-1 info-1"
    	"info-2 info-2 foto-2"
	}
}
@media (min-width: 1280px) {
	.Container-Quienes{
        grid-template-areas:     
        "foto1 	info-1 info-1"
    	"info-2 info-2 foto-2"
	}
}

@media (max-width: 800px) {
    .Container-Quienes{
        grid-template-areas:     
        "foto1"
        "info-1"
        "foto-2"
        "info-2"
    }
}
