
h1 {
    color: rgb(22, 108, 206);
    font-size: 50px;
	padding: 20px 0;
    text-align: center;
    font-family: 'Macondo Swash Caps', cursive;
	
} 

.h1relativo{
    color: rgb(22, 108, 206);
	
font-size: 70px;
text-align: center;
}


.h2 {
    color:rgb(15, 15, 34);
    background-color:rgb(22, 108, 206);
    text-align: center;
    font-family: 'Macondo Swash Caps', cursive;
}

 nav {
    /* color: rgb(15, 15, 34); */
    background-color:rgb(22, 108, 206);
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 30px;

 }

body{
background-color:  rgb(12, 37, 58);

}


.slider {
	width: 70%;
	margin: auto;
	overflow:hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


  .container {
	display:grid;
	grid-template-columns:repeat(6, 1fr); /* Para dividir en  columnas */
	grid-gap: 20px; /* Ajusta el espacio entre las imágenes según tus necesidades */
	justify-content: center; /* Centra horizontalmente las imágenes */
   align-content: center;
 padding: 10px;
}

  .image {
	height: 100px; /* Ajusta la altura según tus necesidades */
	/* scale: 1.2; */
  }


  .image-container-lana{

width:200px ;
height:350px;
background-color: white;
  }

  