body {
	background-color: rgb(255, 255, 255);
	font-family: 'Macondo Swash Caps', cursive;
	width: 100vw;
	margin: 0;
	padding-top: 2em;
}
.logo{
	justify-content:center;
}

h1 {
	color:  rgb(12, 56, 100);
	font-size: 3em;
	text-align: center;
	font-family: 'Macondo Swash Caps', cursive;
	margin: 0.5em;
}

a {
	color:rgb(108, 204, 244);
	text-decoration: none;
	font-family: 'Macondo Swash Caps', cursive;
}

.h2 {
	color: rgb(108, 204, 244);
	background-color:  rgb(12, 56, 100);
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 30px;
	justify-content: center;
}

nav {
	background-color: rgb(12, 56, 100);
	padding: 0.25em;
	width: 100%;
	display: flex;
	flex: 1 0 33.33%;
	justify-content: space-evenly;
	text-align: center;
	font-family: 'Macondo Swash Caps', cursive;
	font-size: 1.2em;
	color: rgb(108, 204, 244);
	text-decoration: dashed;
	
	transform: scale(1);
	transition: all 0.3s ease;
}

nav a:hover {
	font-weight: 400;
	background-color: rgba(28, 27, 25, 0.37);
	color: #fff;
	padding: 0 10px;
	border-radius: 5px;	
	transform: scale(1.1);

.section {
	font-family: 'Macondo Swash Caps', cursive;
	background-color: rgb(12, 56, 100);
	justify-content: center;
  }

h3 {
	color:  rgb(12, 56, 100);
	font-size: 50px;
	font-family: 'Macondo Swash Caps', cursive;
  }

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
	align-content: center;
}

.slider ul {

	display: flex;
	padding: 0;
	width: 300%;
	animation: cambio 10s infinite alternate linear;
	align-content: center;
}

.slider li {

	width: 300%;
	list-style: none;
	align-content: center;
}

.slider img {
	width: 50%;
	align-content: center;
}

.container-md {
	background-color: rgb(177, 104, 104);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 1em;
	width: 100%;
	padding: 20px;

}

form {
	width: 50%;
}

input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid white;
}

#Enviar {
	background-color: white;
	border: 1px solid rgb(87, 100, 12);
	color: black;
	padding: 15px 32px;
	margin: 30px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	transform: scale(1);
	transition: all 0.3s ease;
}

#Enviar:hover{
	transform: scale(1.1);
	color: white;
	background-color: #ec9513;
}

.consulta {
	height: 300px;

}

.advertencia {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
	width: 100%;
	background-color: rgba(51, 51, 51, 0.9);
	padding: 15px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
	height: 130px;
}

.redes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon {
	display: inline-block;
	font-size: 2em;
	color: #fff;
	margin: 20px;
	transform: scale(1);
	transition: all 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.2);
	color: #ec9513;
}

.container-md {
	background-color: rgb(177, 104, 104);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-size: 1em;
	width: 100%;
	padding: 20px;

}

form {
	width: 50%;
}

input {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border-radius: 15px;
	border: 1px solid white;
}

#Enviar {
	background-color: white;
	border: 1px solid rgb(87, 100, 12);
	color: black;
	padding: 15px 32px;
	margin: 30px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.3em;
	transform: scale(1);
	transition: all 0.3s ease;
}

#Enviar:hover{
	transform: scale(1.1);
	color: white;
	background-color: #ec9513;
}

.consulta {
	height: 300px;

}

.advertencia {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
	width: 100%;
	background-color: rgba(51, 51, 51, 0.9);
	padding: 15px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
	height: 130px;
}

.redes {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon {
	display: inline-block;
	font-size: 2em;
	color: #fff;
	margin: 20px;
	transform: scale(1);
	transition: all 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.2);
	color: #ec9513;
}

.copyright {
	font-size: 1em;
}

@keyframes cambio {
	0% {
		margin-left: 0;
	}

	22% {
		margin-left: 0;
	}

	27% {
		margin-left: -100%;
	}

	48% {
		margin-left: -100%;
	}

	52% {
		margin-left: -200%;
	}

	73% {
		margin-left: -200%;
	}

	78% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}
}

.container {
	/* display:grid; */
	display: inline-block;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 30px;
	justify-content: center;
	align-content: center;
	padding: 10px;
}

.image {
	height: 100px;

}



.border {
	border: 3px solid rgb(12, 56, 100);
	border-radius: 20px;
}

	100% {
		margin-left: -300%;
	}
}