body{
    background-color:  rgb(12, 37, 58);
    font-size: 1.2rem;
    min-height: 100%;
}
h1 {
    color: rgb(22, 108, 206);
    font-size: 50px;
    text-align: center;
    font-family: 'Macondo Swash Caps', cursive;
} 

.h1relativo{
    color: rgb(22, 108, 206);
    font-size: 70px;
    text-align: center;

}

h2 {
    color:rgb(15, 15, 34);
    background-color:rgb(22, 108, 206);
    text-align: center;
    font-family: 'Macondo Swash Caps', cursive;
}

nav {
    color: rgb(15, 15, 34);
    background-color:rgb(22, 108, 206);
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 30px;
}

html{
    height: 100%;
}

.Container-Quienes{
    display: grid;
    grid-template-columns: 1fr 0.9fr 1fr; 
    grid-template-rows: 0.5fr 0.8fr 0.8fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "grid-info grid-info grid-info"
    "foto1  info-1 info-1"
    "info-2 info-2 foto-2"; 
}
.grid-info { 
    grid-area: grid-info; 
}
.foto-1 { 
    grid-area: foto1; 
}
.info-1 { 
    grid-area: info-1; 
}
.info-2 { 
    grid-area: info-2; 
}
.foto-2 { 
    grid-area: foto-2;
    align-content: flex-end; 
}

.grid-info{
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 20px;
    color: beige;
    text-align: justify;
}

.info-1, .info-2{
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 25px;
    color: beige;
    text-align: justify;
    line-height: 2.5;
}

.foto-1, .foto-2{
    max-width: 100%;
}

@media (max-width: 600px) {
    .Container-Quienes{
        grid-template-areas:     
        "grid-info"
        "foto1"
        "info-1"
        "foto-2"
        "info-2"
    }
}